:root {
    --main-background: #F1F1F1;
    --orange: #FDB827;
    --neon-blue: #185ADB;
    --dark: #23120B;
    --neon-yellow: #F7FD04;

}

html {
box-sizing: border-box;
font-size: 62.5%;
font-family: 'Press Start 2P', cursive;
}

body {
    background-color: var(--main-background);
}

*{
padding: 0;
margin: 0;
}

header {
    font-size: 2rem;
    display: block;
    width: 100vw;
    text-align: center;
    height: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.controls {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.controls button {
    width: 18rem;
    height: 8rem;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid var(--neon-blue);
    border-radius: 5px;
    font-size: 2rem;
    color: var(--neon-blue);
    background-color: var(--main-background);
}

.controls button:hover {
    background-color: var(--neon-yellow);
}
.controls button:active {
    background-color: var(--orange);
}

.game-display {
    display: flex;
    justify-content: space-around;
}

.maze {
    display: grid;
    position: relative;
    width: 64rem;
    height: 64rem;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: var(--dark);
    border: .2rem solid var(--dark);
}

.hero {
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    /* top: 13.3rem;
    left: 6.9rem; */
    z-index: 3;
    transition: all .3s ease-out;
}

.square{
    position: relative;
    background-color: var(--orange);
    width: 6rem;
    height: 6rem;
    justify-self: center;
    align-self: center;
    border: .2rem solid var(--dark);
    border-radius: 3px;
}

.left {
    border-left: .2rem solid var(--orange);
}
.top {
    border-top: .2rem solid var(--orange);
}
.right {
    border-right: .2rem solid var(--orange);
}
.bot {
    border-bottom: .2rem solid var(--orange);
}

.square:nth-child(2)::before {
    content: "";
    background-color: var(--orange);
    width: 6rem;
    height: .4rem;
    position: absolute;
    z-index: 3;
    top: -.4rem;
}
.square:last-child::before {
    content: "";
    background-color: var(--orange);
    width: 6rem;
    height: .4rem;
    position: absolute;
    z-index: 3;
    bottom: -.4rem;
}

.maze::before {
    content: "";
    display: block;
    background-color:black;
    position: absolute;
    width: 4rem;
    height: 8rem;
    top: -3rem;
    left: 1rem;
    clip-path: polygon(50% 29%, 0 0, 100% 0);


}
.maze::after {
    content: "";
    display: block;
    background-color:black;
    position: absolute;
    width: 4rem;
    height: 8rem;
    bottom: -8.5rem;
    left: 59rem;
    clip-path: polygon(50% 29%, 0 0, 100% 0);


}

.info {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info_box {
    position: relative;
    margin: 3rem 1rem;
    height: 15%;
    width: 100%;
    border: 2px solid var(--neon-blue);
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: var(--neon-blue);
    line-height: 10rem;
}

.timer {
    font-size: 3rem;
}

.timer::before {
    content: "Remaining time";
    width: 100%;
    font-size: 1.5rem;
    position: absolute;
    color: var(--dark);
    line-height: normal;
    top: -9rem;
    top: -2rem;
    left: 0rem;
}

.steps::before {
    content: "Steps completed";
    width: 100%;
    font-size: 1.5rem;
    position: absolute;
    color: var(--dark);
    line-height: normal;
    top: -2rem;
    left: 0rem;
}


.message::before {
    content: "Game message";
    width: 100%;
    font-size: 1.5rem;
    position: absolute;
    color: var(--dark);
    line-height: normal;
    top: -2rem;
    left: 0rem;
}